doctype html
html
  head
    title Página de Erro
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="icon" href="/images/favicon.png" type="image/png")

    style.
      body {
        font-family: Arial, sans-serif;
        text-align: center;
        background-color: #f2f2f2;
        color: #333;
      }
      .container {
        margin-top: 50px;
      }
      h1 {
        font-size: 48px;
        margin-bottom: 20px;
      }
      h2 {
        font-size: 24px;
        margin-bottom: 40px;
      }
      a {
        font-size: 18px;
        color: #007BFF;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
  body
    .container
      h1 Página de Erro
      h2 Oops! Algo deu errado.
      p
        | Voltar para a 
        a(href="/") página inicial
