doctype html 
html
    head
        title Alteração validada com sucesso 
        link(rel='stylesheet', href='/stylesheets/w3.css')
        link(rel="icon" href="/images/favicon.png" type="image/png")

    body
        button(onclick="window.history.back()") Voltar a página anterior
        